section {
    width: 80%;
    height: 800px;
    background-image: url("https://images.unsplash.com/photo-1770126548552-c35de444a1c5?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    margin: 0 auto;

}

h1 {
    font-size: 100px;
    color: white;
}