h1 {
    background-color: red;
    border: 1px solid black;
    display: inline-block;
}

span {
    background-color: blue;
    border: 1px solid black;
    display: block;
    padding: 50px;
}

div {
    height: 200px;
    width: 200px;
    background-color: green;
    border: 1px solid black;
    display: inline-block;
}