body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h1 {
    text-align: center;
}

#container {
    background-color: magenta;
    width: 90%;
    height: 500px;
    margin: auto;
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    flex-basis: 200px;
    max-width: fit-content;
    
}

#container div {
    width: 200px;
    height: 200px;
    flex-shrink: 3;
}

div:nth-of-type(1) {
     flex-grow: 2;
}

div:nth-of-type(2) {
    flex-grow: 3;
}

main{
    width: 80%;
    margin: auto;
    border: 5px solid black;
    height: 500px;
    display: flex;

}

main .sidebar {
    background-color: darkmagenta;
    flex: 1 300px;
}

main .main-content {
    background-color: yellow;
    flex: 1 500px;
}