body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}

button {
    background: none;
    color: orange;
    border: 2px solid orange;
    padding: 1em 2em;
    font-size: 1.5em;
    transition: all 0.3s ease;
}
button:hover {
    border-color: lightpink;
    color: black;
box-shadow: 0 0.5em 0.5em lightpink;
transform: translateY(-0.25em);
cursor: pointer;
}