body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

h1 {
    text-align: center;
    font-size: 6em;
    font-weight: 200;

}

nav {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}
ul {
    border: 1px solid red;
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
}
ul,li {
    display: inline;
    margin: 0;
    padding: 0;
    
}

@media (max-width: 600px) {
    h1 {
        color: red;
    
    }
}
@media (max-width: 1000px) {
    h1 {
        color: green;
    }

    @media (max-width: 768px) {
         h1 {
            font-size: 4em;
        }
    }

    
