/* * {
    background-color: lightgreen;
    color: darkmagenta;
} */
 
body {
    background-color: lightpink;
}

button {
    font-size: 30px;
    background-color: lightblue;
}

span {
    color: white;
}

button:hover {
    background-color: red;
    color: light white;
}

h2::first-letter {
    font-size: 200%;
    color: red;
}