.circle {
    width: 300px;
    height: 300px;
    background-color: magenta;
    border-radius: 50%;
    transition: 1s;
}
.circle:hover {
    background-color: cyan;
    border-radius: 50%;
}

section div {
    width: 100px;
    height: 100px;
    background-color: magenta;
    transition: margin-left 3s;
    margin: 20px 0;
}
section div:hover {
    margin-left: 500px;
}