h1 {
 background-color: aliceblue;
 border: 5px solid black;
 color: blanchedalmond;
 padding: 0.7em;
 width: 300px;
 font-size: 1.8em;
 text-align: center;
 margin: 20px auto;
 font-family: 'Courier New', monospace;   
 font-weight: lighter;

}

h1:nth-of-type(2n) {
    background-color: magenta;
    
}

h1:nth-of-type(2n+1) {
    background-color: green;

}

h1:nth-of-type(4n) {
    background-color: yellow;
}

section:first-of-type h1:nth-of-type(1) {
    transform: rotate(180deg);
}
section:first-of-type h1:nth-of-type(2) {
    transform: scale(1.5, 2);
}
section:first-of-type h1:nth-of-type(3) {
    transform: translateX(200px);

}

section:first-of-type h1:nth-of-type(4) {
    transform: translate(-100px);
}

section:first-of-type(2) h1:nth-of-type(1) {
    transform: skew(20deg, 10deg);
}

section:first-of-type(3) h1:nth-of-type(2) {
    transform: rotate(45deg) scale(0.5);
}
section:first-of-type(4) h1:nth-of-type(4) {
    transform: translateY(100px) skew(-20deg, -10deg);
}

section:nth-of-type(2) {
transform: scale(0.7em) translate(100px, 100px);
}